{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
    {% for car in cars %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if car.img %}
            <img class="card-img-top" src="{{car.img.url}}" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ car.make }} {{car.model}}</h5>
            <p class="card-text">{{car.year}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'car-detail' car.id %}" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

